* {
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  font-size: 16px;
  color: $white;
  font-family: $font;
}

#wrapper {
  padding-top: 2rem;
  padding-bottom: 2rem;
  min-height: calc(100vh - 135px);
}

hr {
  border-color: $light-bg;
  border-width: 2px;
}

p {
  margin: 0;
}

pre {
  color: $white;
}

a {
  color: $white;

  &:hover {
    text-decoration: underline;
    color: $white;
  }
}

figure {
  margin: 0 !important;
}

.container-custom {
  max-width: 90%;
  margin: 0 auto;
}

.container-small {
  max-width: 900px;
  margin: 0 auto;
}

a, .btn-link, [type=button] {
  outline: none;
  text-decoration: none;
  -webkit-appearance: none;

  &:hover, &:active, &:focus, &:visited {
    outline: none;
    -webkit-appearance: none;
  }
}

.container-full {
  width: 100% !important;
  max-width: 100% !important;
  height: calc(100vh - 56px);
  padding-left: 0;
}

#product-list .dropdown-toggle:after {
  display: none;
}

.cursor-pointer {
  cursor: pointer !important;
}

table th {
  cursor: pointer !important;
}

.genre-title {
  margin-bottom: -20px;
  display: block;
}

.required {
  &-star {
    color: $main-color;
    margin-left: 5px;
  }
  &-note {
    color: $main-color;
    margin-bottom: 25px;
  }
}

.badge-warning {
  background-color: $main-color;
  color: $white;
  letter-spacing: 1px;
}

.image-preview {
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
}
