// Variables

// Bootstrap
$middle-bg: #262626;
$dark-bg: #1b1b1b;
$light-bg: #343434;
// $middle-bg: #343a40;
// $dark-bg: #272c32;
// $light-bg: #454d55;

$font-color: #343a40;

$main-color: #ff8b2c;

$primary: $main-color;
$secondary: $light-bg;

$body-bg: $middle-bg;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1400px
);

$btn-active-box-shadow: none;

$font: 'Titillium Web', sans-serif;

$fa-font-path:  '../fonts';
