.address {
  margin-bottom: 30px;
  padding: 20px;
  background-color: $light-bg;
  position: relative;

  p {
    margin: 0;
  }

  .actions {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
