#admin-nav {
  width: 250px;
  position: fixed;
  top: 0;
  padding-top: 55px;
  height: 100%;
  background-color: $dark-bg;
}

#admin-nav .list-group > a {
  background-color: $dark-bg;
  color: $white;
  border: none;
}

#admin-content {
  padding-left: 270px;
  padding-right: 220px;
}

#admin-sidebar {
  position: fixed;
  right: 0;
  top: 0;
  width: 200px;
  height: 100%;
  display: flex;
  padding: 55px 1rem 1rem 1rem;
  flex-direction: column;
  justify-content: flex-end;
  background-color: $dark-bg;
}

.table {
  td, th {
    border: none;
  }

  &.table-striped tbody tr:nth-of-type(odd) {
    background-color: transparentize($white, 0.98);
  }
}
