.btn {
  color: $white;
  border-radius: 0;
  border: none;
  box-shadow: none !important;

  &:hover {
    background-color: $light-bg;
    color: $main-color;
  }
}

.btn-primary {
  &:active {
    background-color: $light-bg !important;
    color: $main-color !important;
  }
}

.btn-secondary {
  &:active {
    background-color: $light-bg !important;
    color: $main-color !important;
  }
}

.play-button {
  cursor: pointer;

  i {
    color: transparentize($white, 0.75);
    transition: all 0.3 ease;

    &:hover {
      color: $white;
    }
  }
}
