.light-bg {
  background-color: $light-bg !important;
}

.middle-bg {
  background-color: $middle-bg !important;
}

.dark-bg {
  background-color: $dark-bg !important;
}

.main-color {
  color: $main-color;
}
