.dropdown-menu {
  border: none;
  background-color: $dark-bg;
  border-radius: 0;
  color: $white;
  padding: 0;
  margin: 0;

  .dropdown-item {
    color: $white;
    padding: 1rem 1.5rem;
    margin: 0;

    &:hover {
      background-color: $main-color;
    }
  }

  .dropdown-divider {
    border-color: $light-bg;
  }
}

.dropdown-toggle::after {
  display: none;
}
