.form-control {
  background-color: $light-bg;
  border: $light-bg;
  border-radius: 0;
  color: $white;
}

.form-control:focus {
  background-color: $light-bg;
  box-shadow: 0 0 0 0.1rem $main-color;
  color: $white;
}

.input-group-text {
  background-color: $dark-bg;
  color: $white;
  border: none;
}

.custom-select {
  background-color: $light-bg;
  @include bootstrap-reset();
  color: $white;
}

.custom-file-label {
  @include bootstrap-reset();
  background-color: $light-bg;

  &:after {
    background-color: $dark-bg;
    @include bootstrap-reset();
    height: auto;
  }
}

.btn-light {
  background-color: $light-bg;
  color: $white;
}

.custom-control.big {

  &:hover {
    label:before {
      background-color: transparent;
      border: 4px solid $main-color;
    }
  }

  .custom-control-input:checked {
    & ~ .custom-control-label::after {
      background: $main-color;
      height: 10px;
      width: 10px;
      border-radius: 100%;
      top: 7px;
      left: 7px;
    }
    & ~ .custom-control-label::before {
      background: transparent;
    }
  }

  label {

    padding-left: 25px;

    &:before {
      top: 0;
      height: 24px;
      width: 24px;
      background-color: transparent;
      border: 2px solid $main-color;
      transition: all 0.25s ease;
    }

    &:after {
      height: 25px;
      width: 25px;
    }
  }
}
