.loader_container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $middle-bg;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50000;

  .loader {
    font-size: 0;
    display: block;
    position: relative;
    height: 60px;
    width: 60px;

    div {
      background: $main-color;
      width: 15px;
      height: 15px;
      border-radius: 15px;
      position: absolute;
      animation: loader-bounce 1.75s infinite;
      top: 50%;
      margin-top: -7.5px;
    }

    div:nth-child(2) {
      animation-delay: .25s;
      left: 50%;
      margin-left: -7.5px;
    }

    div:nth-child(3) {
      animation-delay: .5s;
      right: 0;
    }
  }

}

@keyframes loader-bounce {
  10% {
    transform: translate3d(0,15px,0);
    animation-timing-function: cubic-bezier(0.5,0,.5,1);
    height: 15px;
  }
  14% {
    height: 45px;
  }
  15% {
    height: 15px;
    transform: translate3d(0,-30px,0);
    animation-timing-function: cubic-bezier(0.8,0,.8,1);
  }
  35% {
    transform: translate3d(0,0,0);
  }
}
