.modal-content {
  background-color: $dark-bg;
  border-radius: 0;
  border: none;
}

.modal-header {
  border-bottom: 1px solid $light-bg;
}

.close {
  text-shadow: none;
  color: $white;
  opacity: 1;
  transition: all 0.25s ease;

  &:hover {
    color: $main-color;
    opacity: 1;
  }
}
