.navbar {
  background-color: $dark-bg;
  padding: 0;

  .dropdown-toggle::after {
    display: none;
  }

  .nav-item {

    &:hover {
      // background-color: $main-color;

      .nav-link {
        color: $main-color;
      }
    }

    .nav-link {
      padding: 1rem 1rem;
      letter-spacing: 2px;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}

.nav-pills .nav-link {
    border-radius: 0;
}

#genre-link {
  cursor: pointer;
}

#genre-menu {
  position: fixed;
  top: 56px;
  display: none;

  .content-wrapper {

    padding-left: 0;
    padding-right: 30px;

    .content {
      background-color: $dark-bg;
      color: $white;
      padding: 25px;

      .genre-link {
        display: block;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        padding: 8px 0;

        &:not(:last-child) {
          border-bottom: 1px solid $light-bg;
        }

        a {
          color: $white;

          &:hover {
            color: $main-color;
            text-decoration: none;
          }
        }
      }
    }

  }

}
