#notification-container {
  position: fixed;
  left: 50px;
  height: 100%;
  bottom: 50px;
  display: flex;
  flex-direction: column-reverse;
  z-index: 10000;
  overflow: visible;

  .notification {
    position: relative;
    animation-duration: 0.5s;
    // animation-fill-mode: forwards !important;
    border: none;
    background-color: $light-bg;
    color: $white;
    border-radius: 0;
    padding: 20px 25px;

    &.alert-error {
      background-color: $main-color;
      i {
        color: $white;
      }
      &:after {
        display: none;
      }
    }

    i {
      color: $main-color;
    }

    &:after {
      position: absolute;
      display: block;
      height: 5px;
      width: 100%;
      content: "";
      top: -5px;
      left: 0;
      background: linear-gradient(90deg,#ffa52c 0, $main-color);
      z-index: 1;
    }
  }
}
