.product-artist {
  color: transparentize($white, 0.5);
}

.product-preview {
  font-size: 15px;
  letter-spacing: 1px;

  .card {
    background-color: $light-bg;
    border: none;
    border-radius: 0;
    margin-bottom: 3px;

    &-img-container {
      position: relative;

      .badge {
        position: absolute;
        top: 1rem;
        left: 1rem;
      }
    }

    &-actions {
      width: 100%;
      bottom: 0;
      position: absolute;
      opacity: 0;
      transition: opacity .3s ease;
      background-color: transparentize($dark-bg, 0.3);
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px;

      .btn {
        // font-size: .8rem;
        background-color: transparent;

        &:hover, &:focus, &:active {
          color: $main-color;
          background-color: transparent;
        }
      }

      .price {
        margin-bottom: 0;
        font-weight: 800;
      }
    }

    &:hover {
      .card-actions {
        opacity: 1;
      }
    }

    figure {
      margin: 0;
    }

    .card-img-top {
      border-radius: 0;

    }

    .card-body {
      padding: 10px;

      .product-title {
        font-weight: bold;
        color: $white;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .product-artist {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .product-price {
      padding: 0 1rem;
    }
  }
}

#ranking-box {
  flex-shrink: 0;
  background-color: $light-bg;
  padding: 20px;

  h2 {
    margin-bottom: 1.5rem;
  }

  .product {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 35px;
    }

    .cover {
      img {
        width: 55px;
        height: 55px;
      }
    }

    &-text {
      margin-left: 1rem;
      max-width: 100%;

      .product-title {
        line-height: 20px;
        font-weight: bold;
        color: $white;
        font-size: 18px;
        letter-spacing: 1px;
      }

      .product-artist {
        margin-top: 5px;
        font-size: 16px;
        letter-spacing: 1px;
      }
    }

    .number {
      opacity: 0.5;
      width: 50px;
      text-align: center;
      margin: 0 10px 0 -10px;
      padding: 0;
      display: block;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        font-size: 30px;
        font-weight: lighter;
      }
    }
  }
}
