.rating_star:first-child {
  margin-left: -5px;
}

.rating_star {
  height: 15px;
}

.rating {
  vertical-align: middle;
  letter-spacing: -3px;

  & * {
    color: $main-color;
  }

  &.editable {
    cursor: pointer;
  }
}

.rating_star {
  display: inline-block;
  height: 25px;
  width: 25px;
  position: relative;
}

.rating_star:before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
