#search-bar {
  position: relative;
  width: 20vw;
  min-width: 300px;

  input {
    width: 100%;
  }

  #search-result {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    max-height: 90vh;
    overflow-y: auto;

    .type {
      padding: 5px 10px;
      background-color: $dark-bg;
      color: $main-color;
    }

    .results {
      background-color: $light-bg;

      & > a {
        padding: 5px 10px;
        cursor: pointer;
        color: $white;

        &:hover {
          background-color: $main-color;
          text-decoration: none;
        }
      }

      & > div {
        padding: 5px 10px;
        color: transparentize($white, 0.75);
      }
    }
  }
}
