.swiper-container {
  padding: 40px 0;
}

.swiper-button-prev, .swiper-button-next {
  background: none;

  & > i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: $main-color;
    font-size: 2rem;
  }
}

.swiper-pagination {
  bottom: 25px !important;
  display: flex;

  .swiper-pagination-bullet {
    background: none;
    border-radius: 0;
    flex: 1;
    height: 15px;
    position: relative;
    outline: none;

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
      height: 4px;
      background-color: $main-color;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
