#checkout-step-nav {
  width: 700px;
  margin: 50px auto;
  display: flex;

  .step {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 33.333333%;

    &:first-child {
      .icon-container:before {
        display: none;
      }
    }

    &:last-child {
      .icon-container:after {
        display: none;
      }
    }

    &.active {

      .icon-container {

        .icon {
          background-color: $main-color;
          color: $middle-bg;
          border-color: $main-color;
        }

        &:before {
          background-color: $main-color;
        }
      }

      .step-name {
        a {
          color: $main-color;
        }
      }
    }

    &.visited {
      .icon-container {

        .icon {
          color: $main-color;
          border: 2px solid $main-color;
        }
      }
      .icon-container:before, .icon-container:after {
        background-color: $main-color;
      }

      .step-name {
        a {
          color: $main-color;
        }
      }
    }

    .icon-container {
      display: flex;
      justify-content: center;
      position: relative;

      a {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
      }

      .icon {
        height: 40px;
        width: 40px;
        border-radius: 100%;
        border: 2px solid $light-bg;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $light-bg;
        background-color: $middle-bg;
      }

      &:before {
        content: "";
        height: 2px;
        width: 50%;
        position: absolute;
        top: 50%;
        right: 50%;
        background-color: $light-bg;
        z-index: -1;
      }

      &:after {
        content: "";
        height: 2px;
        width: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: $light-bg;
        z-index: -1;
      }
    }

    .step-name {
      text-align: center;

      a {
        padding-top: 10px;
        color: $light-bg;
        display: block;
      }
    }
  }
}
